@font-face {
  font-family: 'Open-Light';
  src: url('../fonts/OpenSans-Light.ttf')  format('truetype');
}

html {
  width: 100%;
  height: 100%;

  background: #2C3E50;
  font-family: 'HelveticaNeue-UltraLight',
               'Helvetica Neue UltraLight',
               'Helvetica Neue',
               'Open-Light'
               ,sans-serif;
  color: #E4F1FE;
}

div.wrapper {
  width: 80%;
  margin: 0 auto;
}

span#title {
  display: block;
  padding: 10px;

  text-align: center;
  color: #E4F1FE;
  font-size: 2em;
}

span#user_count {
  position: fixed;
  bottom: 2px;
  left: 2px;

  font-size: 2vmin;
  color: grey;
}

div.clock {
  border: 1px dashed #EEE;
  border-radius: 5px;
  font-size: 12vw;
  background: #2C3E50;
}

div.clock span#time {
  display: block;
  padding: 0.2em;

  text-align: center;
  color: #E4F1FE;
}

div.input_bar {
  position: fixed;
  bottom: 0;

  width: 60%;
  heigth: 3em;

}

form#chat {
  position: fixed;
  bottom: 5vh;
  left: 50%;

  width: 75vw;
  height: 2em;
  margin-left: -37.5vw;
}
form#chat input {
  width: 100%;
  padding-left: 1vw;

  background: transparent;
  border: 1px solid #EEE;
  border-radius: 5px;
  color: #E4F1FE;
  font-family: inherit;
  font-size: 3vh;
}

form#chat input:focus {
  outline: none;
}

div.feed {
  width: 80%;
  margin: 45vh auto 15vh auto;
}

div.feed span {
  display: block;

  margin: 1em;
  padding: 2vw;
  height: 1em;

  border: 1px dashed #EEE;
  border-radius: 5px;
  font-size: 3.5vmin;

  transition: all 1.5s;
  transistion-delay: 2s;
}

div.feed span.animate {
  height: 0;
}
