@font-face {
  font-family: 'Open-Light';
  src: url('../fonts/OpenSans-Light.ttf')  format('truetype');
}

html {
  width: 100%;
  height: 100%;

  background: #2C3E50;
  font-family: 'HelveticaNeue-UltraLight',
               'Helvetica Neue UltraLight',
               'Helvetica Neue',
               'Open-Light'
               ,sans-serif;
  color: #E4F1FE;
}

div.wrapper {
  width: 80%;
  margin: 0 auto;
}

span#title {
  display: block;
  padding: 10px;

  text-align: center;
  color: #E4F1FE;
  font-size: 2em;
}

span#user_count {
  position: fixed;
  bottom: 2px;
  left: 2px;

  font-size: 2vmin;
  color: grey;
}

button#play_pause {
  display: none;
  position: relative;
  top: 2px;
  left: 2px;

  background: none;
  color: inherit;
  font-size: 0.15em;
  border: none;
  outline: none;
  cursor: pointer;
}

button#play_pause.play:after {
  content: 'Play';
}
button#play_pause.pause:after {
  content: 'Pause';
}

div.clock {
  border: 1px dashed #EEE;
  border-radius: 5px;
  font-size: 12vw;
  background: #2C3E50;
}

div.clock span#time {
  display: block;
  padding: 0.2em;

  text-align: center;
  color: #E4F1FE;
}

div.input_bar {
  position: fixed;
  bottom: 0;

  width: 60%;
  heigth: 3em;

}

form#chat {
  position: fixed;
  bottom: 5vh;
  left: 50%;

  width: 75vw;
  height: 2em;
  margin-left: -37.5vw;
}
form#chat input {
  width: 100%;
  padding-left: 1vw;

  background: #2C3E50;
  border: 1px solid #EEE;
  border-radius: 5px;
  color: #E4F1FE;
  font-family: inherit;
  font-size: 3vh;
}

form#chat input:focus {
  outline: none;
}

div.feed {
  width: 80%;
  margin: 20% auto 10% auto;
}

div.feed span {
  display: block;

  margin: 1em;
  padding: 2vw;
  opacity: 1;

  border: 1px dashed #EEE;
  border-radius: 5px;
  font-size: 3.5vmin;

  transition: all 0.5s;
}

div.feed span.animate {
  opacity: 0;
}

div.feed span.gone {
  height: 0;
  padding: 0;
  font-size: 0;
}
